.card {
    background-color: whitesmoke;
    width: 1000px;
    border-radius: 15px;
    margin: 20px auto;
    border-style: solid;
    border-width: 2px;
}

.img-profile {
    max-height: 70px;
    max-width: 70px;
}

.img-post {
    max-height: 1000px;
    max-width: 1000px;
}

.comments {
    padding: 0 0 20px 20px;
}

.sides {
    margin:0;
}

.left {
    float:left;
    width:75%;
    overflow:hidden;
}

.right {
    float:left;
    width:25%;
    overflow:hidden;
    margin: 29px 0;
} 

p1 {
    font-weight: bold; 
}

#likes {
    text-align: left;
    padding: 0 0 5px 5px;
    font-weight: bold;
}
